div.main-0 {
  /* outline: 1px solid gold; */
  padding: 120px 60px 120px 60px;
  height: 100%;
}

.main-0 section {
  /* outline: 1px solid skyblue; */
  align-items: center;
}

.main-0 section button {
  width: 210px;
  border-radius: 30px;
  background-color: #5fadff;
}

.main-0 section button a {
  color: #fff;
}

.main-0 section {
  flex: 1;
  max-width: 50%;
  padding: 60px 0px 60px 0px;
  box-sizing: border-box;
}

.main-0 section h1 {
  font-size: 300px;
}

.main-0 section h2 {
  height: 120px;
  font-size: 40px;
}

.main-0 section ul.btns li {
  height: 120px;
}

.main-0 section ul.btns li p {
  height: 30px;
}
